<ng2-toasty></ng2-toasty>
<ng2-slim-loading-bar [color]="'blue'"></ng2-slim-loading-bar>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-8 col-xs-offset-2">

      <a role="button"
        class="btn btn-primary btn-sm"
        style="position: absolute; right: 0;"
        *ngIf="authService.userSignedIn()"
        (click)="authService.signOut()">Log Out</a>

      <div class="logo">Simple TODO List
        <div class="small">from Ruby Garage</div>
      </div>

    </div>
  </div>

  <router-outlet></router-outlet>
</div>
