.logo {
  font-size: 26px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff;
  text-align: center;
  font-weight: bold;
  margin: 20px 60px 40px;
  cursor: default;

  .small {
    font-weight: normal;
    font-size: 18px;
  }
}

