<app-auth-header>Sign up.</app-auth-header>

<div class="card-block">
  <app-auth-errors [errors]="errors"></app-auth-errors>
  <app-auth-form [formStructure]="signUpForm" (formSubmit)="onSubmit($event)"></app-auth-form>
  <app-auth-links case="sign-up"></app-auth-links>
</div>

