<app-auth-header>Sign in to your account.</app-auth-header>

<div class="card-block">
  <app-auth-errors [errors]="errors"></app-auth-errors>
  <app-auth-form [formStructure]="signInForm" (formSubmit)="onSubmit($event)"></app-auth-form>
  <app-auth-links case="sign-in"></app-auth-links>
</div>
