<form [formGroup]="form" novalidate (ngSubmit)="submitToParent()" autocomplete="off">

  <div
    *ngFor="let field of formStructure"
    class="form-group"
    [ngClass]="{'has-danger': fieldIsInvalid(field.key)}">

    <label for="{{field.id}}">{{field.label}}</label>
    <input
      id="{{field.id}}"
      name="{{field.id}}"
      formControlName="{{field.key}}"
      type="{{field.type}}"
      class="form-control"
      autocomplete="off"
      >
    <div *ngIf="fieldIsInvalid(field.key)" class="alert alert-danger">
      {{formManager.getError(field.key)}}
    </div>

  </div>

  <button [disabled]="!formManager.isValid()" type="submit" class="btn btn-primary">Submit</button>
</form>

