<div class="projects">
  <div class="project" *ngFor="let project of projects">
    <!-- <div class="project-header" -->
    <!--   (mouseover)='hovered=true' -->
    <!--   (mouseleave)='hovered=false'> -->

    <!--   <div class="project-field"> -->
    <!--     <h2 *ngIf="!editing">{{project.name}}</h2> -->
    <!--     <input type="text" -->
    <!--       autofocus -->
    <!--       *ngIf="editing" -->
    <!--       [(ngModel)]="project.name" -->
    <!--       (keyup.enter)="save(project)" -->
    <!--       (blur)="save(project)" -->
    <!--       (keyup.escape)="cancel(project)"> -->
    <!--   </div> -->

    <!--   <div class="control" [hidden]="!hovered && !editing"> -->
    <!--     <ul> -->
    <!--       <li><a class="edit" (click)="edit(project)"></a ></li> -->
    <!--       <li><a class="delete" (click)="delete(project)"></a ></li> -->
    <!--     </ul> -->
    <!--   </div> -->

    <!--   <app-tasks [project]="project"></app-tasks> -->
    <!-- </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12 footer">
      <a class="btn btn-lg btn-primary" [class.disabled]="editing" (click)="create()">
        <span class="glyphicon glyphicon-plus"></span>Add TODO List
      </a>
    </div>
  </div>
</div>
