.project {
  margin: 0 0 20px;

  .project-header {
    background: #4e7fbc url('/assets/bg-project-header.png') repeat-x 0 0;
    border: 1px solid #315589;
    position: relative;

    .project-field {
      background: transparent url('/assets/icon-project.png') no-repeat 15px 50%;
      padding: 0 105px 0 45px;
    }

    h2, input {
      color: #fff;
      font-size: 22px;
      font-weight: normal;
      line-height: 38px;
      text-shadow: 1px 1px 0 #111;
      overflow: hidden;
      width: 100%;
      height: 40px;
      margin: 5px 0;
      padding: 0 5px;
      border: 1px solid transparent;
    }

    h2 {
      cursor: default;
    }

    input {
      background: #4e7fbc;
      border: 1px solid #315589;
      border-radius: 3px;

      &:focus {
        outline: none
      }
    }

    .control {
      position: absolute;
      top: 10px;
      right: 10px;

      ul {
        margin: 0 0 0 -20px;
      }

      li {
        border-left: 1px solid #5284bf;
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;
      }

      .edit {
        background: url('/assets/icon-project-edit.png') no-repeat 50% 50%;
      }

      .delete {
        background: url('/assets/icon-project-delete.png') no-repeat 50% 50%;
      }

    }
  }
}

.footer {
  margin: auto;
  padding: 40px 0 80px;

  .btn {
    background: #4e7fbc url('/assets/bg-project-header.png') repeat-x 0 0;
    font-weight: bold;
  }
}
