.comment-controller {
  padding: 32px 0 0;

  .comments-list {
    margin: 0 0 15px;

    .comment {
      position: relative;
      margin: 0 0 5px;
      padding: 5px 10px;
      background-color: #f5f5f5;
      border-radius: 3px;
      border: 1px solid #e3e3e3;
    }

    .comment-delete {
      float: right;
      display: inline-block;
      border-radius: 3px;
      font-weight: bold;
      font-size: 20px;
      line-height: 16px;
      margin: 0 0 0 10px;
      text-decoration: none;
      color: #ddd;

      &:hover {
        color: #c30;
      }
    }
  }

  .progress {
    margin-top: 20px;
  }

  .attachments {
    font-size: 85%;
    padding: 5px 0 0;
    margin: 0;
    list-style: none;

    .glyphicon {
      color: #ccc;
      margin: 0 5px 0 0;
    }
  }
}

.upload-file {
  overflow: hidden;
  position: relative;
}

.upload-file [type=file] {
  cursor: inherit;
  display: block;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
